footer {
  margin-top: 100px;
  background: #14ADF3; }
  footer footer, footer footer a {
    color: #fff; }
  footer footer h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 23px;
    margin-bottom: 36px; }
  footer footer p {
    font-size: 15px; }
  footer footer ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  footer footer {
    padding: 100px 80px; }
  footer .social-link i {
    padding-right: 29px;
    margin-top: 28px;
    font-size: 16px; }
  footer .social-link a:hover i {
    color: #ededed; }
  footer footer ul li a {
    text-transform: capitalize;
    font-size: 16px;
    line-height: 28px;
    text-decoration: none !important; }
  footer footer p i {
    margin-right: 16px;
    font-size: 15px; }
  footer .footer-form h4 {
    margin-bottom: 13px; }
  footer .footer-form form {
    margin-bottom: 10px; }
  footer .footer-form input[type=email] {
    width: 72%;
    padding: 10px;
    border: none;
    background: #fff;
    font-size: 14px; }
  footer .footer-form input[type=submit] {
    width: 26%;
    padding: 10px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: #14ADF3;
    background: #fff; }

footer, footer a {
  color: #fff; }

footer h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 23px;
  margin-bottom: 36px; }

footer p {
  font-size: 15px; }

footer ul {
  margin: 0;
  padding: 0;
  list-style: none; }

footer {
  padding: 100px 80px; }

.social-link i {
  padding-right: 29px;
  margin-top: 28px;
  font-size: 16px; }

.social-link a:hover i {
  color: #ededed; }

footer ul li a {
  text-transform: capitalize;
  font-size: 16px;
  line-height: 28px; }

footer p i {
  margin-right: 16px;
  font-size: 15px; }

.footer-form h4 {
  margin-bottom: 13px; }

.footer-form form {
  margin-bottom: 10px; }

.footer-form input[type=email] {
  width: 72%;
  padding: 10px;
  border: none;
  background: #fff;
  font-size: 14px; }

.footer-form input[type=submit] {
  width: 26%;
  padding: 10px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  color: #14ADF3;
  background: #fff; }

.footer-bottom {
  background: #f7f7f7; }

.footer-bottom ul {
  margin: 0;
  padding: 0; }

.footer-bottom, .footer-bottom a {
  color: #9C9C9C;
  font-size: 15px;
  text-decoration: none; }

.footer-bottom ul {
  list-style: none; }

.footer-bottom {
  padding: 20px 0; }

.footer-bottom a:after {
  content: "|";
  margin-left: 10px;
  margin-right: 6px; }

.footer-bottom a:last-child::after {
  display: none; }
